{% extends "layout.html" %}
{% block body %}
  <div class="categories">
      <h3> Please select the field you want to edit during this session: </h3>
      <form method="post">
          <input type="radio" name="task" value="label" checked><p>Vocal Maturity</p>
          <input type="radio" name="task" value="speaker"><p>Speaker</p>
          <input type="radio" name="task" value="wholecut_c"><p>Whole vs 500 - 500</p>
          <input type="radio" name="task" value="wholecut_w1"><p>Whole vs 500 - whole, first pass</p>
          <input type="radio" name="task" value="wholecut_w2"><p>Whole vs 500 - whole, second pass</p>
          <input type="submit">
      </form>
  </div>

{% endblock %}
